.images-container {
  display: inline-block;
  padding: 10px;
}
.images-sizing {
  display: inline-block;
  width: 180px;
  height: 180px;
  border-radius: 24px;
}
.imgs-widget {
  display: inline-block;
  width: 180px;
  height: 180px;
  border-radius: 24px;
  filter: grayscale(100%);
  cursor: pointer;
}
.imgs-widget:hover {
  filter: grayscale(0%);
  animation-name: imgAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  transform: rotate(-5deg);
  width: 200px;
  height: 200px;
  z-index: 1;
}
@keyframes imgAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
@media screen and (max-width: 1030px) {
  .images-sizing {
    width: 150px;
    height: 150px;
  }
  .imgs-widget {
    width: 150px;
    height: 150px;
  }
}